body {
    font-family: Arial, sans-serif;
    background-color: #f2f8fd;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contact-section p {
    margin-bottom: 10px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #00a6c0;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #00829e;
  }
  
  .social-media a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-media img {
    width: 30px;
    height: auto;
  }
  
  footer {
    background-color: #00a6c0;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  